body {
  font-family: "Open Sans", sans-serif;
  padding: 20px; }

img {
  width: 250px;
  height: 225px;
  display: block;
  margin: 5px auto; }

img:hover {
  filter: brightness(80%);
  transform: scale(1.1); }

.banner h1 {
  color: white;
  width: 500px;
  height: 50px;
  text-align: center;
  position: absolute;
  line-height: 1.2em;
  top: 38px;
  left: 522px;
  font-weight: 600;
  font-size: 33px;
  transform: translate(-50%, 50%); }
.banner p {
  color: white;
  width: 870px;
  height: 50px;
  line-height: 1.7em;
  text-align: center;
  position: absolute;
  top: 148px;
  left: 492px;
  font-size: 100%;
  transform: translate(-50%, 50%); }

.about p {
  padding: 10px;
  padding-left: 0;
  padding-top: 0;
  font-size: 16px; }

.icon {
  font-family: "Open Sans", sans-serif; }

h1 {
  margin-bottom: 10px; }

i {
  font-family: FontAwesome;
  font-size: 15px;
  color: #888888;
  text-decoration: none; }

input {
  padding: 5px;
  margin-bottom: 10px;
  width: 150px;
  height: 22.5px; }

.logo a {
  margin: 0;
  padding-right: 2.083em; }

.logo a img {
  width: auto;
  margin: 0.625em 200px 0 0.625em;
  height: 2.083em;
  float: left; }

.search_bar {
  /*height: ;*/
  display: block;
  float: right;
  margin-right: 1.250em; }

.search_bar input {
  height: 30px;
  width: 10.250em;
  border: 1px solid #e38f84;
  padding: 4px;
  font-size: 15px; }

#searchButton {
  line-height: 30px;
  width: 30px;
  height: 30px;
  margin-top: 1.250em;
  border: 1px solid #e38f84;
  background-color: #e38f84; }

#searchButton:hover {
  color: white;
  margin-top: 1.250em;
  border: 1px solid #e38f84;
  background-color: #ccc; }

.searchBar button, .searchBar input {
  outline: none; }

.fa-search {
  color: black; }

.main_heading {
  text-align: center;
  font-size: 2.0em;
  margin: 3px; }

.paragraph {
  display: block; }

.mainButtons {
  width: 36.250em;
  display: block;
  margin: 0 auto; }

.codingButton {
  font-size: 1.125em;
  padding: 0.625em 1.000em;
  background-color: #e38f84;
  border: 0.5px solid #ffffff;
  z-index: 10;
  color: white;
  margin-top: 350px; }

.donate_button {
  background-color: black;
  font-size: 1.125em;
  padding: 0.625em 1.000em;
  border: 0.5px solid #ffffff;
  z-index: 10;
  color: white;
  margin-top: 350px; }

.mainButtons button:hover {
  background-color: #555555;
  border-color: white;
  padding-right: 1.063em; }

.lineOuter {
  width: 10.5em;
  background-color: #ccc; }

.lineInner {
  width: 30%;
  background-color: red;
  height: 1.5px;
  display: block;
  margin: 0;
  position: relative;
  bottom: 0; }

.readMore {
  padding: 8px 0.875em;
  width: 130px;
  font-size: 1.125em;
  background-color: white;
  color: grey;
  border: 2px solid grey;
  transition: all 300ms ease-in-out;
  text-align: center; }

button:hover {
  padding-right: 15px; }

.icons {
  background-color: black;
  color: white;
  width: 100%; }

.icons > i {
  width: 6.250em; }

.icons > h3 {
  text-align: center; }

.icons > p {
  text-align: center; }

.fa-desktop {
  font-size: 4.083em;
  color: #e38f84; }

.fa-print {
  font-size: 4.083em;
  color: #e38f84; }

.fa-camera-retro {
  font-size: 4.083em;
  color: #e38f84; }

.fa-volume-up {
  font-size: 4.083em;
  color: #e38f84; }

a {
  padding: 5px;
  text-decoration-line: none;
  text-decoration: none; }

.subscribe h1 {
  text-align: center;
  margin-top: 1.250em;
  margin-bottom: 5px; }

.subscribe table {
  display: block;
  margin: 0 auto; }

.subscribe p {
  text-align: center;
  margin-bottom: 1.250em;
  margin-top: 1.250em; }

.subscribe table tr td input {
  width: 100%;
  height: 35px;
  outline: none;
  background-color: #f9f9f9; }

.subscribe table tr td button {
  width: 9.250em;
  display: block;
  height: 35px;
  border: 1px solid #e38f84;
  outline: none;
  font-size: 15px;
  background-color: #e38f84;
  margin-left: 0.625em; }

.subscribe table tr td button:hover {
  padding-right: 11px; }

.container {
  width: 70%;
  display: block;
  margin: 0 auto;
  height: 178px;
  border: 1px solid black;
  overflow: hidden;
  background-color: black; }

.sub {
  height: 180px;
  width: 5180px;
  background-color: black;
  animation-name: carousel;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
  left: 100%; }

.sub img {
  display: inline;
  width: auto;
  height: 180px;
  margin-right: 2.083em; }

@keyframes carousel {
  100% {
    position: relative;
    left: -4580px; } }
.sub_footer {
  display: grid;
  grid-template-columns: 1fr 1fr  1fr 1fr;
  padding: 1.250em;
  color: #666666; }

.sub_footer article {
  margin: 1.250em 0; }

ul li {
  font-size: 1.125em; }

.footerColumn1 a {
  margin-right: 5px;
  color: #666666; }
.footerColumn1 i {
  margin-right: 0.625em; }

.subHeading {
  margin-left: 12px; }

#back2Top {
  width: 70px;
  line-height: 70px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 70px;
  right: 50px;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  border: 1px solid black; }

#back2Top:hover {
  background-color: #e38f84;
  color: #000;
  transition: 0.9s; }

.welcomeButton {
  padding: 10px 16px;
  border: 1px solid #e38f84;
  background-color: #e38f84;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 18px; }

.welcomeButton:hover {
  padding: 10px 17.6px; }

.welcomeImage > img {
  height: 400px;
  width: 600px;
  margin-left: 80px; }

.whoWeAreSection > img {
  height: 400px;
  width: 600px; }

.colorPink {
  color: #e38f84; }

.whoWeAreText {
  padding: 0 5%; }

.whoWeAreText p {
  padding: 10px 0; }

.emailButton {
  padding: 12.5em 1em;
  border: 0.0625em solid #e38f84;
  background-color: #e38f84;
  color: white;
  border-radius: 0.3125em;
  margin-top: 12.5em;
  font-size: 1.125em; }

.contactInfo {
  padding: 30px; }

.contactHeading {
  padding-left: 20px;
  margin-bottom: 20px; }

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1; }

.nav {
  height: 70px;
  top: 0;
  z-index: 20;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px; }

.nav a {
  margin: 10px 0 0 10px;
  background-color: white;
  float: left;
  display: block;
  color: #666666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

.dropdown {
  margin: 10px 0 0 10px;
  float: left; }

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  margin: 0;
  font-family: inherit;
  color: #666666;
  padding: 14px 16px;
  background-color: white;
  margin: 0; }

.drop_content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.drop_content a {
  display: block;
  float: none;
  color: #e38f84;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left; }

.nav a:hover, dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
  transition: 1s ease-in-out; }

.dropdown:hover .drop_content {
  display: block;
  transition: 1s ease-in-out; }

.banner {
  background-image: url(../images/Code4CT-homepage.jpg);
  width: 100%;
  height: 800px;
  background-color: #4e4e4e;
  margin-top: 10px;
  background-size: cover;
  background-blend-mode: multiply; }

.mainHeading {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 60%;
  padding: 40px 50px;
  color: white;
  height: 50%;
  top: 20%; }

.about {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  height: 600px;
  width: 70%;
  padding-top: 20px; }

.about > div {
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px; }

.images_gallery {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  margin-bottom: 115px; }
  .images_gallery .images_gallery img:hover {
    transform: scale(1.2); }

.images_gallery > div {
  display: grid;
  width: 250px;
  height: 230px; }

.para {
  padding: 20px;
  height: 500px;
  margin-top: 11px;
  margin-left: 150px;
  width: 439px; }

.icons {
  background-color: black;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 25% 25% 25% 25%;
  height: 200px;
  width: 100%;
  padding-top: 10px; }

.icons > div {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 150px;
  border-radius: 5px;
  margin-top: 10px;
  padding-right: 20px; }

.portfolio {
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 100px; }
  .portfolio p {
    padding-right: 300px;
    font-size: 18px; }

.gallery_container {
  display: grid;
  grid-gap: 10px;
  padding: 20px; }

.gallery_container > div {
  text-align: center;
  font-size: 30px; }

.portfolio1 {
  grid-column: 1;
  grid-row: 1;
  height: 200px;
  width: 250px; }

.portfolio2 {
  grid-column: 3;
  grid-row: 1 / span 3;
  width: 500px; }
  .portfolio2 img {
    width: 450px;
    height: 450px; }

.portfolio3 {
  color: green;
  height: 200px;
  width: 250px; }

.portfolio4 {
  grid-column: 1;
  grid-row: 3;
  height: 200px;
  width: 250px;
  padding-bottom: 20px; }

.portfolio5 {
  grid-row: 3;
  height: 200px;
  width: 250px;
  padding-bottom: 20px; }

/*About section*/
.aboutPreview {
  margin: 10px; }

.aboutPreview button {
  padding: 8px 14px;
  width: 130px;
  font-size: 18px;
  background-color: white;
  color: grey;
  border: 1px solid grey;
  border-radius: 5px; }

.aboutPreview button:hover {
  width: 143px; }

.aboutPreview p {
  padding: 10px;
  padding-left: 0;
  padding-top: 0;
  font-size: 16px; }

.aboutPreview .imageGrid img:hover {
  transform: scale(1.2); }

.largeImage {
  background-size: cover; }

.meet_the_team {
  padding-right: 100px;
  padding-left: 120px;
  padding-top: 30px; }
  .meet_the_team h1 {
    margin-left: 45px; }
  .meet_the_team .lineOuter {
    margin-left: 45px; }

.team_grid {
  display: grid;
  /* Creating Columns */
  grid-template-columns: 25% 25% 25% 25%;
  /* Create spaces between items or "blocks" */
  grid-gap: 15px;
  background-color: white;
  color: black; }

.team_grid > div {
  text-align: center;
  font-size: 14px;
  text-align: left;
  height: 250px; }

.team_grid_2 {
  display: grid;
  /* Creating Columns */
  grid-template-columns: 25% 25% 25% 25%;
  /* Create spaces between items or "blocks" */
  grid-gap: 15px;
  background-color: white;
  color: black; }

.team_grid_2 > div {
  text-align: center;
  font-size: 14px;
  text-align: left;
  height: 250px; }

.counter {
  padding: 50px 5%;
  width: 90%;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
  color: white; }

.counter h1, .counter p {
  text-align: center; }

.counter .line {
  height: 7px;
  width: 20%;
  background-color: #e38f84;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px; }

.counter h1 {
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 10px; }

.counter p {
  margin-bottom: 40px; }

.subscribe {
  width: 100%;
  height: 150px; }

.carousel {
  background-color: black;
  width: 100%;
  height: 200px; }

/* Secondary footer */
.sub_footer {
  margin: 10px;
  text-align: left; }

/* Primary Footer */
.primaryFooter {
  padding: 10px;
  background-color: #e38f84; }

.primaryFooter {
  display: grid;
  width: 99%;
  height: 40px;
  background-color: #e38f84;
  grid-template-columns: 1fr 1fr; }
  .primaryFooter i {
    color: white;
    padding: 5px; }

.secondaryNav {
  padding: 5% 0;
  width: 100%;
  background-color: #ccc;
  border: 1px solid black; }

.secondaryNav div div {
  width: 200px;
  display: block;
  margin: 0 auto; }

.secondaryNav div div h1 {
  text-align: center;
  margin: 20px; }

.traverselinks {
  text-align: center;
  color: white; }

.traverselinks a {
  font-size: 15px;
  text-decoration: none;
  color: white; }

.info {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  height: 500px;
  width: 100%;
  padding-top: 20px; }

.about > div {
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px; }

.welcomeImage {
  padding-top: 60px;
  padding-right: 250px; }

.whoWeAreSection {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.contactSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 300px;
  padding: 100px;
  margin-left: 50px;
  color: #666666; }

@media screen and (min-width: 1200px) {
  .icons div {
    margin: 0; }

  .aboutPreview {
    margin: 150px 15%; }

  .aboutPreview .imageGrid {
    margin: 60px 0; }

  .icons {
    padding: 100px 15%;
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto auto; }

  .portfolio {
    padding: 100px 15%;
    width: 70%; }

  .meetOurTeam {
    padding: 100px 5%;
    width: 70%; }

  .meetOurTeam {
    padding: 100px 15%;
    width: 70%; }

  .meetOurTeam .teamGrid {
    margin: 30px 0; }

  .stats {
    padding: 50px 15%;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }

  .secondaryFooter {
    padding: 50px 15%;
    grid-gap: 20px; } }
@media screen and (min-width: 800px) {
  .fourImages {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 200px 200px;
    grid-gap: 10px; }

  .portfolioImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px; } }
@media screen and (min-width: 1200px) {
  .meetOurTeam {
    padding: 100px 15%;
    width: 70%; }

  .meetOurTeam {
    padding: 100px 15%;
    width: 70%; }

  .meetOurTeam .teamGrid {
    margin: 30px 0; } }

/*# sourceMappingURL=main.css.map */
