// Custom 
// Styling for logo
.logo a {
    margin:0;
    padding-right:2.083em;
}

.logo a img{
    width:auto;
    margin: 0.625em 200px 0 0.625em;
    height:2.083em;
    float:left;
}
// search bar styling
.search_bar {
    /*height: ;*/
    display: block;
    float: right;
    margin-right: 1.250em; }
  
  .search_bar input {
    height: 30px;
    width: 10.250em;
    border: 1px solid $main-color;
    padding: 4px;
    font-size: 15px; }
  
  #searchButton {
    line-height: 30px;
    width: 30px;
    height: 30px;
    margin-top: 1.250em;
    border: 1px solid $main-color;
    background-color: $main-color;
 }
  
  #searchButton:hover {
    color: white;
    margin-top: 1.250em;
    border: 1px solid $main-color;
    background-color: #ccc; }
  
  .searchBar button, .searchBar input {
    
    outline: none; }
  .fa-search{
    color:black;
  }
// Styling for main heading
.main_heading{
    text-align:center;
    font-size:2.0em;
    margin:3px;
}

.paragraph{
    display:block;
}
// styling for Start Coding and Donate now Button

.mainButtons {
    width: 36.250em;
    display: block;
    margin: 0 auto; 
}
  
  .codingButton {
    font-size:1.125em;
    padding: 0.625em 1.000em;
    background-color: $main-color;
    border: 0.5px solid #ffffff;
    z-index: 10;
    color: white; 
    margin-top:350px;
}
  .donate_button{
    background-color:black;
    font-size:1.125em;
    padding: 0.625em 1.000em;
    border: 0.5px solid #ffffff;
    z-index: 10;
    color: white; 
    margin-top:350px;
  }

  .mainButtons button:hover {
    background-color: #555555;
    border-color: white;
    padding-right: 1.063em; 
}

.lineOuter{
    width:10.5em;
    
    background-color:#ccc;

}

.lineInner{
    width: 30%;
    background-color:red;
    height:1.5px;
    display: block;
    margin:0;
    position:relative;
    bottom:0;
}
//  Styling for readmore button
.readMore {
    padding: 8px 0.875em;
    width: 130px;
    font-size:1.125em;
    background-color: white;
    color: grey;
    border: 2px solid grey;
    
    transition: all 300ms ease-in-out;
    text-align:center;
 }

 button:hover {
    padding-right: 15px; }

.icons {
    background-color: black;
    color: white;
    width: 100%; }
  
.icons > i {
    width: 6.250em; 
}
      
.icons > h3 {
    text-align: center;
 }
      
.icons > p {
    text-align: center; }


.fa-desktop {
    font-size:4.083em;
    color:$main-color;
}
.fa-print{
    font-size:4.083em;
    color:$main-color;
}
.fa-camera-retro{
    font-size:4.083em;
    color:$main-color;
}
.fa-volume-up{
    font-size:4.083em;
    color:$main-color;
}
a{
    padding:5px;
    text-decoration-line: none;
    text-decoration: none;
}

// styling for subscribe section

.subscribe h1{
    text-align: center;
    margin-top:1.250em;
    margin-bottom: 5px;
}
.subscribe table{
    display: block;
    margin: 0 auto;
}
.subscribe p{
    text-align: center;
    margin-bottom: 1.250em;
    margin-top:1.250em;
}
.subscribe table tr td input{
    width: 100%;
    height: 35px;
    outline: none;
    background-color:#f9f9f9;
}
.subscribe table tr td button{
    width: 9.250em;
    display: block;
    height: 35px;
    border:1px solid $main-color;
    outline: none;
    font-size: 15px;
    background-color: $main-color;
    margin-left:0.625em;
}
.subscribe table tr td button:hover{
    padding-right: 11px;
}

// Carousel section

.container{
    width: 70%;
    display: block;
    margin: 0 auto;
    height: 178px;
    border: 1px solid black;
    overflow: hidden;
    background-color: black;
}

.sub{
    height: 180px;
    width: 5180px;
    background-color: black;

    animation-name: carousel;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative; left:100%;
}
.sub img{
    display: inline;
    width:auto;
    height:180px;
    margin-right:2.083em;
}


@keyframes carousel{
    100%{
        position: relative;left:-4580px;
    }
}

.sub_footer{
    display:grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    padding:1.250em;
    color:$text-color;
}
.sub_footer article{
    margin: 1.250em 0;
}

ul li{
    font-size:1.125em;
}

.footerColumn1{
    a{
    margin-right:5px;
    color:$text-color;
    }
    i{
        margin-right:0.625em;
    }
}

.subHeading{
    margin-left:12px;
}

#back2Top {
     width: 70px;
     line-height: 70px;
     overflow: hidden;
     z-index: 999;
     display: none;
     cursor: pointer;
     -moz-transform: rotate(270deg);
     -webkit-transform: rotate(270deg);
     -o-transform: rotate(270deg);
     -ms-transform: rotate(270deg);
     transform: rotate(270deg);
     position: fixed;
     bottom: 70px;
     right: 50px;
     background-color: #DDD;
     color: #555;
     text-align: center;
     font-size: 30px;
     text-decoration: none;
     border: 1px solid black;
}
#back2Top:hover {
    background-color:  $main-color;
    color: #000;
    transition: 0.9s;
}

//////////////////////////////styling for about page////////////////////

.welcomeButton{
    padding: 10px 16px;
    border: 1px solid $main-color;
    background-color: $main-color;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
  }
  .welcomeButton:hover{
    padding: 10px 17.6px;
  }
  
  .welcomeImage > img{
    height:400px;
    width:600px;
    margin-left:80px;
  }
.whoWeAreSection>img{
    height:400px;
    width:600px;
}
  
  .colorPink{
    color: #e38f84;
  }
  .whoWeAreText{
      padding:0 5%;
  }

  .whoWeAreText p{
    padding: 10px 0;
  }
  
  ////////////////////////////////contact page ///////////////////////////

  .emailButton{
      @include button;
      
  }

  .contactInfo{
    padding:30px;
  }

  .contactHeading{
      padding-left:20px;
      margin-bottom: 20px;
  }