// Responsive Design

@media screen and (min-width: 1200px) {
    .icons div {
      margin: 0; }
  
    .aboutPreview {
      margin: 150px 15%; }
  
    .aboutPreview .imageGrid {
      margin: 60px 0; }
  
    .icons {
      padding: 100px 15%;
      width: 70%;
      display: grid;
      grid-template-columns: auto auto auto auto; }
  
    .portfolio {
      padding: 100px 15%;
      width: 70%; }
  
    .meetOurTeam {
      padding: 100px 5%;
      width: 70%; }
  
    .meetOurTeam {
      padding: 100px 15%;
      width: 70%; }
  
    .meetOurTeam .teamGrid {
      margin: 30px 0; }
  
    .stats {
      padding: 50px 15%;
      width: 70%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; }
  
    .secondaryFooter {
      padding: 50px 15%;
      grid-gap: 20px; } }
// RESPONSIVENESS FOR MOBILE:
//////////////info

@media screen and (max-width:800px){
  .search_bar{
    display:none;
  }
 
  .navbar a{
    display:inline;
  }
  .about{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height:1100px;
  }
  .icons{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: auto auto auto auto;
    height:1200px;
    margin-left:10px;
    width:99%;
    padding-left:265px;
  }
 
  .gallery_container{
    display:none;
  }
 
  .counter{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
  }
  .portfolio h1{
    text-align:center;
  }
 
 .lineOuter{
   display:none;
 }
 .lineInner{
   display:none;
 }
 
 .sub_footer{
   display:grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
 }
 }
 
 
 @media screen and (max-width:1070px){
  .team_grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
  }
 
  .team_grid_2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .banner{
    background-image: none;
    width:400px;
  }
 
  .mainHeading{
    display:block;
    margin:5px auto;
 
  }
 }
 
  @media screen and (max-width:565px) {
    .team_grid{
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .description{
      text-align:center;
      max-width:250px;
      margin:5px auto;
    }
 
    .team_grid_2{
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
 
    .navbar a{
      display:inline;
      width:100%;
    }
    .navbar{
      height:300px;
    }
  }
/////////////info
// RESPONSIVENESS FOR TABLET:
@media screen and (min-width:800px) {
    .fourImages{
        display:grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 200px 200px ; 
        grid-gap:10px;
    }
    .portfolioImages{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:10px;
    }

}

// RESPONSIVENESS FOR LARGE DESKTOP:
@media screen and (min-width:1200px){
    .meetOurTeam {
        padding: 100px 15%;
        width: 70%; }
    
      .meetOurTeam {
        padding: 100px 15%;
        width: 70%; }
    
      .meetOurTeam .teamGrid {
        margin: 30px 0; }
}

//    courses

@media screen and (max-width:320px){
  .about{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 25%
  }
  .images_gallery{
    // display: grid;
    // grid-template-columns: auto;
    // grid-template-rows: auto;
    // height:1000px;
    display: none;
  }
  .icons{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    height: 1200px;
    width: 374px;
    padding-left: 200px;
  }
  .gallery_container{
    display: none;
  }
  .portfolio p{
    font-size: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .portfolio h1{
    font-size: 60px;
  }
  #back2Top{
    width: 70px;
    line-height: 70px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 70px;
    right: 250px;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border: 1px solid black;
  }

  .team_grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .description{
    text-align: center;
    max-width:250px;
    margin:5px auto;
  }
  .team_grid_2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .counter{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 630px;
  }
  .banner p{
    text-align: center;
    font-size: 28px;
  }
  .mainButtons{
    grid-template-rows: none;
    width: none;
    display: block;
    margin: 185px 10px;
    
  }

  .banner{
    background-image: none;
    width: 260%;
    height: 800px;
    background-color: #4e4e4e;
    margin-top: 10px;
    background-size: cover;
    background-blend-mode: multiply;
  }

  .main_heading{
    font-size: 10px;
    color: #4e4e4e;
    text-align: center;
  }

}
@media screen and (max-width: 320px){
  .banner p {
    color: red;
    width: 400px;
    height: none;
    line-height: none;
    text-align: none;
    position: none;
    top: none;
    left: none;
    font-size: none;
    transform: translate(-50%, 50%);
    padding: -53px;
    padding-left: none;
    margin-left: -280px;
    line-height: none;
    text-align: none;
    margin-top: -80px;
}

.banner h1 {
  color: red;
  width: 192px;
  height: none;
  line-height: none;
  text-align: none;
  position: none;
  top: -176px;
  left: none;
  font-size: 28px;
  transform: translate(-50%, 50%);
  padding: -53px;
  padding-left: none;
  margin-left: -303px;
  line-height: none;
  text-align: none;
  
}

.codingButton{
  font-size: 1.125em;
  padding: 0.625em 1.000em;
  background-color: #e38f84;
  border: 0.5px solid #ffffff;
  z-index: 10;
  color: white;
  margin-top: 350px;
}

}


////
