// Responsive Design

@media screen and (min-width: 1200px) {
    .icons div {
      margin: 0; }
  
    .aboutPreview {
      margin: 150px 15%; }
  
    .aboutPreview .imageGrid {
      margin: 60px 0; }
  
    .icons {
      padding: 100px 15%;
      width: 70%;
      display: grid;
      grid-template-columns: auto auto auto auto; }
  
    .portfolio {
      padding: 100px 15%;
      width: 70%; }
  
    .meetOurTeam {
      padding: 100px 5%;
      width: 70%; }
  
    .meetOurTeam {
      padding: 100px 15%;
      width: 70%; }
  
    .meetOurTeam .teamGrid {
      margin: 30px 0; }
  
    .stats {
      padding: 50px 15%;
      width: 70%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; }
  
    .secondaryFooter {
      padding: 50px 15%;
      grid-gap: 20px; } }
// RESPONSIVENESS FOR MOBILE:

// RESPONSIVENESS FOR TABLET:
@media screen and (min-width:800px) {
    .fourImages{
        display:grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 200px 200px ; 
        grid-gap:10px;
    }
    .portfolioImages{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:10px;
    }

}

// RESPONSIVENESS FOR LARGE DESKTOP:
@media screen and (min-width:1200px){
    .meetOurTeam {
        padding: 100px 15%;
        width: 70%; }
    
      .meetOurTeam {
        padding: 100px 15%;
        width: 70%; }
    
      .meetOurTeam .teamGrid {
        margin: 30px 0; }
}

//    courses

@media screen and (max-width:320px){
  .about{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 25%
  }
  .images_gallery{
    // display: grid;
    // grid-template-columns: auto;
    // grid-template-rows: auto;
    // height:1000px;
    display: none;
  }
  .icons{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    height: 1200px;
    width: 374px;
    padding-left: 200px;
  }
  .gallery_container{
    display: none;
  }
  .portfolio p{
    font-size: 80px;
  }
}