// VARIABLES

// Descriptive variables colors

$main-color:#e38f84;
$text-color:#666666;
$black:#000;
$pink: #f5008A;

// Functional Variables
$container-color:black;
$icon-color:#888888;
$heading-color:white;
$background-color:#ccc;
$button-text-color:gray;
$hover-color:#555555;

// Padding Variables
$padding:12.5em;

// FONT-FAMILY
$icon-font:'Open Sans', sans-serif;